<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roger.mybatis.mapper.clazzMapper">
	
	<resultMap type="Clazz" id="classMapWithJavaTpye">
		<id property="id" column="c_id"/>
		<result property="name" column="c_name"/>
		<association property="teacher" javaType="Teacher">
			<id property="id" column="t_id"/>
			<result property="name" column="t_name"/>
		</association>
	</resultMap>
	
	<resultMap type="Clazz" id="classMapWithSelect">
		<id property="id" column="c_id"/>
		<result property="name" column="c_name"/>
		<association property="teacher" column="teacher_id" select="getTeacherById">
		</association>
	</resultMap>
	
	<select id="getById" parameterType="int" resultMap="classMapWithJavaTpye">
		select * from class c,teacher t where c.teacher_id = t.t_id and c.c_id = #{id}
	</select>
	
	<select id="findAll" resultMap="classMapWithSelect">
		select * from class
	</select>
	
	<select id="getTeacherById" parameterType="int" resultType="Teacher">
		select t_id id,t_name name from teacher where t_id = #{id}
	</select>
	
</mapper>